@import './libs/normalize';
@import './components/all';

body {
  position: relative;
  background-color: #0e1014;
  color: #e4e5ea;
  font-family: 'inter';
}

.container {
  max-width: 1140px;
  margin: auto;
  @media (max-width: 1280px) {
    max-width: 940px;
  }
  @media (max-width: 1024px) {
    max-width: 720px;
  }
  @media (max-width: 768px) {
    max-width: 290px;
  }
}
